*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #141414;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 135px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 1000;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.Container a {
    text-decoration: none;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.navLinks a:hover,
.navLinks a.active {
    color: #E50914;
}

.navLinks a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E50914;
    transition: width 0.3s ease;
}

.navLinks a:hover::after {
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3A3A3A;;
    border: 1px solid #555555;
    border-radius: 25px;
    padding: 8px 16px;
    width: 250px;
    gap: 10px;
    transition: border 0.3s ease;
}

.search-bar:focus-within {
    border: 1px solid #E50914;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
    width: 100%;
}
.search-bar img {
    width: 20px;
    height: 20px;
}

.search-bar input::placeholder {
    color: #B3B3B3;
}

.carousel {
    margin-top: 180px;
    padding: 40px 80px;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

.movie-card {
    width: 800px;
    height: 350px;
    background-color: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 1;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-card h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    padding: 10px;
}

.arrow {
    position: absolute;
    top: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    border: 0px solid rgb(0, 0, 0, 0.7);
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}




