*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #141414;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 135px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 1000;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}

@media (max-width: 1024px ) {
    header {
        gap: 200px;
        padding: 25px 40px;
    }
}

@media (max-width: 768px) {
    header {
        gap: 0;
        justify-content: space-between;
        padding: 20px 30px;
        height: 80px;
        border-radius: 0;
    }
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 3px;
        transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }
}


.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.Container a {
    text-decoration: none;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
}

.navLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.navLinks a:hover,
.navLinks a.active {
    color: #E50914;
}

.navLinks a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E50914;
    transition: width 0.3s ease;
}

.navLinks a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        background-color: #000;
        width: 100%;
        max-width: 300px;
        padding: 30px;
        border-radius: 0 0 0 15px;
        box-shadow: -5px 5px 15px rgba(0,0,0,0.5);
    }
    
    .navLinks.active {
        display: flex;
    }

    .navLinks a {
        font-size: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #333;
    }

    .navLinks a:last-child {
        border-bottom: none;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3A3A3A;;
    border: 1px solid #555555;
    border-radius: 25px;
    padding: 8px 16px;
    width: 250px;
    gap: 10px;
    transition: border 0.3s ease;
}

.search-bar:focus-within {
    border: 1px solid #E50914;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
    width: 100%;
}
.search-bar img {
    width: 20px;
    height: 20px;
}

.search-bar input::placeholder {
    color: #B3B3B3;
}

@media (max-width: 768px) {
    .search-bar {
        width: 180px;
        padding: 6px 12px;
    }

    .search-bar input {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .search-bar {
        width: 150px
    }
}

.carousel {
    margin-top: 180px;
    padding: 40px 80px;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    .carousel {
        margin-top: 120px;
        padding: 30px 40px;
    }
}

@media (max-width: 768px) {
    .carousel {
        margin-top: 100px;
        padding: 20px;
    }
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

.movie-card {
    width: 500px;
    height: 350px;
    background-color: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-card h3 {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    padding: 10px;
}

@media (max-width: 768px) {
    .movie-card {
        width: 300px;
        height: 200px;
    }
    .movie-card img {
        height: 200px;
    }
    .movie-card h3 {
        font-size: 14px;
        padding: 10px;
    }
}

.arrow {
    position: absolute;
    top: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    border: 0px solid rgb(0, 0, 0, 0.7);
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

@media (max-width: 768px) {
    .arrow {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

.filterSection {
    padding: 30px 80px;
    background-color: #08002510;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}


@media (max-width: 1024px) {
    .filterSection {
        padding: 25px 40px;
    }
}

@media (max-width: 768px) {
    .filterSection {
        padding: 20px;
    }
}

.filterRow {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background-color: #2a2a2a;
    border: 1px solid #555555;
    border-radius: 15px;
    min-width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
}
 
.filter-button:hover {
    border-color: #E50914;
    background-color: #333333;
}

.filer-icon {
    font-size: 18px;
}

.filter-select {
    background: transparent;
    border: none;
    flex: 1;
    color: #B3B3B3;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.filter-select option {
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #2a2a2a;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;

}

@media (max-width: 768px) {
    .filterRow {
        flex-direction: column;
        width: 100%;
    }

    .filter-button {
        width: 100%;
        min-width: unset;
    }
}

.filter-select.active {
    background-color: #333;
    border-radius: 12px;
    transition: all 0.3s ease;
}


.cardRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
    padding: 40px 80px;
}


@media (max-width: 1024px) {
    .cardRow {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 768px) {
    .cardRow {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px;
    }
}

.heroCard {
    background-color: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: white;
}

.heroCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(229, 9, 20, 0.3);
}

.heroCard img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .heroCard img {
        height: 300px;
    }
}

.card-info {
    padding: 20px;
}

.card-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 14px;
    color: #B3B3B3;
    margin-bottom: 10px;
}

.format-badge {
    display: inline-block;
    padding: 5px 12px;
    background-color: #E50914;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.comingSoonCard {
    position: relative;
}

.comingSoonOverlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    text-align: center;
}

.comingSoonText {
    font-size: 24px;
    font-weight: bold;
    color: #E50914;
}

.comingSoonOverlay h3 {
    font-size: 22px;
    color: white;
}

.releaseDate {
    font-size: 14px;
    color:  #FFD700;
}

@media (max-width: 768px) {
    .comingSoonText {
        font-size: 18px;
    }

    .comingSoonOverlay h3 {
        font-size: 18px;
    }
}





