*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #141414;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 134px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 1000;
    animation: slideDown 0.5s ease-out;
    transition: all 0.3s ease;
}
.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.navLinks a:hover,
.navLinks a.active {
    color: #E50914;
}

.navLinks a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E50914;
    transition: width 0.3s ease;
}

.navLinks a:hover::after {
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3A3A3A;;
    border: 1px solid #555555;
    border-radius: 25px;
    padding: 8px 16px;
    width: 250px;
    gap: 10px;
    transition: border 0.3s ease;
}

.search-bar:focus-within {
    border: 1px solid #E50914;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
    width: 100%;
}
.search-bar img {
    width: 20px;
    height: 20px;
}

.search-bar input::placeholder {
    color: #B3B3B3;
}